<div xmlns:th="http://www.thymeleaf.org">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">BOOK SHOP</h1>
      <h3 class="jumbotron-heading">All authors</h3>
    </div>
  </section>
  <div class="container mb-4">
    <div class="row">
      <div class="col-12" th:if="${authors.size() > 0}">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Author name</th>
              <th scope="col">Surname</th>
              <th scope="col">Country</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authors}" class="category">
              <td th:text="${author.getName()}"></td>
              <td th:text="${author.getSurname()}"></td>
              <td th:text="${author.getCountry() != null}
                            ? ${author.getCountry().getName()} : 'X country'"></td>
<!--              <td th:text="${author.getCountry().getName()}"></td>-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
